page-rapport {
    .inline {display : inline-block;}

    [text-color="my-custom-color"] {
        color: yellow;
    }
    .p
    {
    font-size:  medium;
    font-family: 'Comic Sans MS ', Helvetica, Arial, sans-serif;
    }
}

