page-reponser {
    [text-color="my-custom-color"] {
        color: yellow;
    }
    [text-color="color"] {
        color: #696969;
    }
    .p
{
    font-size:  medium;
    font-family: 'Comic Sans MS ', Helvetica, Arial, sans-serif;
}
}
