page-reciption {
    #bande_horizontale{ 
padding: 0px; 
margin: 0px; 
border: none; 
width: 100%; 
height: 50px; 
background-color: #FEB201; 
} 

#form {
    width: 500px;
    padding: 150px;
    border: 5px solid gray;
    margin: 50;
    margin-left: auto;
    margin-right: auto;
}

#banniere { 
    position: absolute; 
    top: 400px; 
    left: 250px; 
    width: 150%; 
    height: 20px; 
    } 
    
    #main { 
    position: absolute; 
    top: 400px; 
    bottom: 0px; 
    left: 650px; 
    right: 0px; 
    } 



}
