page-to-impr-couleur21-100 {
    [text-color="my-custom-color"] {
        color: orange;
      }
      .p
      {
      font-size:  medium;
      font-family: 'Comic Sans MS ', Helvetica, Arial, sans-serif;
      }    
}
